/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-1 {
  width: 8.33333%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-2 {
  width: 16.66667%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-3 {
  width: 25%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-4 {
  width: 33.33333%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-5 {
  width: 41.66667%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-6 {
  width: 50%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-7 {
  width: 58.33333%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-8 {
  width: 66.66667%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-9 {
  width: 75%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-10 {
  width: 83.33333%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-11 {
  width: 91.66667%;
}

/* line 6, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.col-12 {
  width: 100%;
}

/* Offset width loop */
/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-1 {
  width: 8.33333%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-2 {
  width: 16.66667%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-3 {
  width: 25%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-4 {
  width: 33.33333%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-5 {
  width: 41.66667%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-6 {
  width: 50%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-7 {
  width: 58.33333%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-8 {
  width: 66.66667%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-9 {
  width: 75%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-10 {
  width: 83.33333%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-11 {
  width: 91.66667%;
}

/* line 16, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
.offset-12 {
  width: 100%;
}

/* line 19, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
body {
  margin: 0;
}

/* line 33, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
[class*='.row-']:before {
  content: "";
  clear: both;
  display: table;
}

/* line 39, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
[class*='row-']:after {
  content: "";
  clear: both;
  display: table;
}

/* line 45, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
[class*='col-'] {
  float: left;
  padding-right: 10px;
  min-height: 40px;
  padding: 10px;
}

/* line 52, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
[class*='offset-'] {
  float: left;
  padding-right: 10px;
  height: 40px;
}

/* line 58, C:/Users/Sam/Documents/QuePasa/scss/style.scss */
[class*='col-']:last-of-type {
  padding-right: 0;
}

/*# sourceMappingURL=../css/style.map */